/* 
    Created on : May 31, 2016, 4:17:04 PM
    Author     : saiprasad
*/
#todoContent{
    text-align: center;
    background-color: ghostwhite;
    width: 600px;
    margin-left: 30%;
    border-radius: 30px;
}
th{
    text-align: center;
}
#bodyId{
 background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
#Tasktbl
{
    max-width: 500px;
    /* text-align: center; */
    margin-left: 10%;
    background-color:#d9d9d9;
}

 @media only screen and (max-width: 700px) {
#todoContent
{
        max-width: 520px;
    /* text-align: center; */
    margin-left: 3%;
}
th, td{
    max-width: 70px;
}
#Tasktbl
{
    margin-left: 1%;
    margin-right: 10%;
}
 }